body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  visibility: 100vh;
  box-sizing: border-box;
  padding: 150px 0;
}
.app {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.app input {
  margin-bottom: 20px;
}
